doctype html

html

  head
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/style.css')
    
  body
    
    div.container

      h1 New Pricelist Demo

      nav.text-center
        button Textiles
        button Passementerie
        button Leather

      div#textiles
        h2 Textiles
        p basically this will be what we currently have... but just formatted slightly differently.
        p This sorts by the Name of the pattern first, then by item-number within that pattern.
        p Content that is the same across a pattern - Name, Price, Content, Repeat, and Approx. Width only show for the first row of that pattern.
        table
          thead
            tr
              td
                h3 Name
              td
                h3 Item#
              td
                h3 Color
              td
                h3 Price
              td
                h3 Content
              td
                h3 Repeat
              td
                h3 Approx Width
          tbody
            tr
              td
                p {{name}}
              td
                p {{pattern#}}-{{color#}}
              td
                p {{color}}
              td
                p {{price}}
              td
                p {{contents}}
              td
                p {{repeat}}
              td
                p {{width}}

      div#passementerie
        h2 Passementerie
        p this list will default to order by item#.
        p Trims don't have a name...
        table
          thead
            tr
              td
                h3 Item#
              td
                h3 Color
              td
                h3 Price
              td
                h3 Content
              td
                h3 Repeat
              td
                h3 Approx Width
          tbody
            tr
              td
                p {{pattern#}}-{{color#}}
              td
                p {{color}}
              td
                p {{price}}
              td
                p {{contents}}
              td
                p {{repeat}}
              td
                p {{width}}
      
      div#leather
        h2 Leather
        p Leather does not have a repeat column...
        table
          thead
            tr
              td
                h3 Name
              td
                h3 Item#
              td
                h3 Color
              td
                h3 Price
              td
                h3 Content
              td
                h3 Approx Size
          tbody
            tr
              td
                p {{name}}
              td
                p {{pattern#}}-{{color#}}
              td
                p {{color}}
              td
                p {{price}}
              td
                p {{contents}}
              td
                p {{size}}

    script(type='text/javascript', src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')

