html
  head
    title Rogers & Goffigon
    link(rel='stylesheet', href='/#{sha}.css')
    link(rel='stylesheet', type='text/css', media='print', href='/print.css')
  body
    header
      h1 Rogers & Goffigon
      nav
        ul
          li
            a About Us
          li
            a The Collection
          li
            a Contact Us
          li
            a Trade Login
          li
            a Search
    div#content
      img(src='images/loading.gif', class='loading')
    footer
      p.uppercase Rogers & Goffigon LTD © 2014
      p
        span Site by Pentagram
    script(src="/#{sha}.js")
