html
  head
    title Rogers & Goffigon
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(name="google-site-verification", content="AWS4Oj_J3YQgg0i6_Tf9BZZWTZ0zY0FYOGV6s3Oa5b4")
    meta(name="description", content="Rogers & Goffigon is one of the most respected designers and producers of impeccable high-quality home furnishing textiles in the world. Many of their fabrics are manufactured at family-owned European mills in existence for generations, where skilled craftspeople with an Old World attention to detail employ traditional, centuries-old techniques to create superb woven goods and trimmings.")
    link(rel='icon', sizes='16x16', href='images/favicon.ico')
    link(rel='stylesheet', href='/whenloading.css')
    link(rel='stylesheet', href='/#{sha}.css')
    link(rel='stylesheet', type='text/css', media='print', href='/print.css')
    //if lte IE 9
      link(rel='stylesheet', type='text/css', src="/iefix.css")
    script(type='text/javascript', src='//use.typekit.net/jjm0waz.js')
    script(type='text/javascript').
      try{Typekit.load();}catch(e){}

  body
    div#react
      header
        h1
          a(href='/#landing') Rogers & Goffigon
        nav
          ul
            li
              a(href='/about/') About Us
            li
              a(href='/#collection') The Collection
            li
              a(href='/contact/') Contact Us
            li
              a(href='/#trade') Trade Login
            li.searchload
              a(href='/#collection') Search
      div#content
        img(src='images/loading.gif', class='loading')
        p.hidden Rogers & Goffigon is one of the most respected designers and producers of impeccable high-quality home furnishing textiles in the world. Many of their fabrics are manufactured at family-owned European mills in existence for generations, where skilled craftspeople with an Old World attention to detail employ traditional, centuries-old techniques to create superb woven goods and trimmings.
      footer
        p
          span Images shown may vary to actual.
          br
          span Please contact the showroom for a sample.
        p.uppercase Rogers & Goffigon LTD &copy; 2017
        p
          a.link3(href="http://www.delanyandlong.com/") For the DeLany &amp; Long collection click here.
        p
          span Site by Pentagram
    script(src='/#{sha}.js')
    script(src='/scripts/googleanalytics.js')
