html
  head
    title Rogers & Goffigon
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    link(rel='icon', sizes='16x16', href='images/favicon.ico')
    link(rel='stylesheet', href='/whenloading.css')
    link(rel='stylesheet', href='/#{sha}.css')
    link(rel='stylesheet', type='text/css', media='print', href='/print.css')
    //if lte IE 9
      link(rel='stylesheet', type='text/css', src="/iefix.css")
    script(type='text/javascript', src='//use.typekit.net/jjm0waz.js')
    script(type='text/javascript').
      try{Typekit.load();}catch(e){}

  body
    div#react
      header
        h1
          a(href='/') Rogers & Goffigon
        nav
          ul
            li
              a(href='/about/') About Us
            li
              a(href='/app.html#collection') The Collection
            li
              a(href='/contact/') Contact Us
            li
              a(href='/app.html#trade') Trade Login
            li.searchload
              a(href='/app.html#collection') Search
      div#landing
        div.carousel
          div.item
            img(src="http://r_g.cape.io/beautyshots/6_1500.jpg")
            ul
              li.item1
                a(href="link-to-item1") Item#, I'll hide with CSS
                div.popover
                  h3.name Teddy
                  p.color Truffle
              li.item2
                a(href="link-to-item2") Item#, I'll hide with CSS
                div.popover
                  h3.name Townsend II
                  p.color Carbon
              li.item3
                a(href="link-to-item3") Item#, I'll hide with CSS
                div.popover
                  h3.name Tisket
                  p.color Charcoal
              li.item4
                a(href="link-to-item4") Item#, I'll hide with CSS
                div.popover
                  h3.name Posh
                  p.color Chrome
              li.item5
                a(href="link-to-item5") Item#, I'll hide with CSS
                div.popover
                  h3.name Samarkand
                  p.color Lazuli
      footer
        p
          span Images shown may vary to actual.
          br
          span Please contact the showroom for a sample.
        p.uppercase Rogers & Goffigon LTD &copy; 2014
        p
          span Site by Pentagram
