<!-- Item information that is displayed when in 3-up mode and info button is clicked -->
<!-- for passementeries only... they have some unique styling -->

<div class="item-passementerie text-center hidden-xs">
  <div class="item-information on-top {{^tradeprice}}no-price{{/tradeprice}} {{^repeat}}no-repeat{{/repeat}} {{^width}}no-width{{/width}}">
    <button class="item-toggle plain">&times;</button>
    <table>
      <tbody>
        <tr>
          <td class="name"><p><strong class="uppercase">{{label}}{{^label}}{{collection}}{{/label}}</strong> <br> <span class="item-num">{{id}}</span></p></td>
          <td class="color"><p><strong class="uppercase">Color</strong> <br> {{color}}</p></td>
          <td class="content"><p><strong class="uppercase">Content</strong> <br> {{contents}}</p></td>
          {{#repeat}}<td class="repeat"><p><strong class="uppercase">Repeat</strong> <br> {{repeat}}</p></td>{{/repeat}}
          {{#width}}<td class="width"><p><strong class="uppercase">Approx Width</strong> <br> {{width}}</p></td>{{/width}}
          {{#tradeprice}}<td class="price"><p><strong class="uppercase">Price</strong> <br> {{tradeprice}}</p></td>{{/tradeprice}}
        </tr>
      </tbody>
    </table>
  </div>
</div>

