<!-- item_mobile.html -->

<nav>
  <!-- different header that is better mobile display that the table in regular item.html-->
  <div class="navbar-header">
    <ul class="xtra-controls">
      <li class="fav"><button class="plain fav">+</button></li>
      <li class="close"><button type="button" class="close plain" aria-hidden="true">X</button></li>
    </ul>
    <h3 class="text-center">Details</h3>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".itemoverlay nav .navwrap">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- dropdown details -->
  <div class="navwrap collapse navbar-collapse {{item.collection}}">
    <ul class="text-center">
      <li class="name"><h3>{{item.label}}{{^item.label}}{{item.collection}}{{/item.label}}</h3><p><span class="roman">{{item.name}}</span><!-- don't want this on passementeri, easy fix?--> {{item.id}}</p></li>
      <li class="color"><h3>Color</h3><p>{{item.color}}</p></li>
      <li class="content"><h3>Content</h3><p>{{item.contents}}</p></li>
      {{#item.repeat}}<li class="repeat"><h3>Repeat</h3><p>{{item.repeat}}</p></li>{{/item.repeat}}
      {{#item.width}}<li class="width"><h3>Approx Width</h3><p>{{item.width}}</p></li>{{/item.width}}
      {{#item.tradeprice}}<li class="price"><h3>Price</h3><p>{{item.tradeprice}}</p></li>{{/item.tradeprice}}
    </ul>
  </div>
</nav>
  
<div class="img-large-container {{item.collection}}">
  <img src="{{item.img}}" class="img" alt="" width="" height="" />
</div>

<!-- /item_mobile.html -->
