
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {{#slides}}
    <li data-target="#carousel-example-generic" data-slide-to="{{pos}}"{{#active}} class="active"{{/active}}></li>
    {{/slides}}
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {{#slides}}
    <div class="item{{#active}} active{{/active}} {{classes}}" id="item-{{pos}}">
      <img src="/beautyshots/{{img_md}}" usemap="#swatchmap-{{pos}}">
      <map name="swatchmap-{{pos}}" id="swatchmap-{{pos}}">
        {{#items}}<area class="{{classes}}" href="/app.html#detail/{{link}}" shape="rect" coords="{{leftc}},0,{{rightc}},{{bottomc}}" alt="{{color}}" data-id="{{id}}" />
        {{/items}}
      </map>
      {{#items}}
      <div class="landing-popover popover-{{id}} {{classes}}" style="left:{{leftc}}px;margin-left:{{margin}}px;">
        <strong class="name uppercase">{{name}}</strong><br/>
        <span class="color">{{color}}</span>
      </div>
      {{/items}}
    </div>
    {{/slides}}
  </div>

  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <i class="fa fa-angle-left"></i>
  </a>

  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <i class="fa fa-angle-right"></i>
  </a>
