<div id="item-colors" class="hidden-xs trim-colors">
  {{#pager}}<div class="related-page-count"></div>{{/pager}}
  <button type="button" class="close plain">X</button>
  {{#pager}}
  <button class="left plain controls rel-previous">
    <i class="fa fa-angle-left fa-2x"></i>
  </button>
  {{/pager}}
  <ul class="list-inline list">
  {{#itemcolors}}
    <li class="related-item">
      <img src="http://img.rg.cape.io/items/{{.}}/1170.jpg" class="{{.}}"> <!-- does this url need to be corrected? -->
    </li>
  {{/itemcolors}}
  </ul>
  {{#pager}}
  <button class="right plain controls rel-next">
    <i class="fa fa-angle-right fa-2x"></i>
  </button>
  {{/pager}}
</div>
