<!-- Used to generate a list of trade projects -->
<li id="{{_id}}" data-longurl="{{sharelink}}">
  <span class="list-name">{{#info}}{{name}}{{/info}}</span>
  <form class="hidden-xs" style="display:none">
    <input type="text" value="{{#info}}{{name}}{{/info}}">
  </form>
  <button class="plain edit-list hidden-xs">
    <i class="fa fa-pencil"></i>
  </button>
  <div class="project-share hidden-xs" style="display:none;">
    <label class="uppercase" for="project-share">Share</label> 
    <input class="project-share" type="text">
  </div>
  <button class="delete-list hidden-xs">
    &times;
  </button>
  <!-- PDF button - will need to work some magic to get this to work in a few places -->
<!--
  <button class="download-pdf hidden-xs">
    <i class="fa fa-file-text"></i>
  </button>
-->
  <div id="{{_id}}_items" class="clearfix">
  </div>
</li>
