<!-- Item information that is displayed when in 3-up mode and info button is clicked -->
<!-- for passementeries only... they have some unique styling -->
<div class="item-spotlight text-center hidden-xs" style="width:100%">
  <div class="item-icons pull-right">
    <button class="item-colors plain uppercase hidden-xs">
      Colors
    </button>
    <button class="item-favorite plain hidden-xs">
      <i class="fa fa-plus"></i>
    </button>
    <button class="item-details plain hidden-xs">
      <i class="fa fa-align-justify"></i>
    </button>
  </div>

  <div class="item-information {{^tradeprice}}no-price{{/tradeprice}} {{^repeat}}no-repeat{{/repeat}} {{^width}}no-width{{/width}}">
    <button class="item-toggle plain">&times;</button>
    <table>
      <tbody>
        <tr>
          <td><p><strong class="uppercase">{{label}}{{^label}}{{collection}}{{/label}}</strong><br><span class="name roman">{{name}}</span> <span class="item-num">{{id}}</span></p></td>
          <td><p><strong class="uppercase">Color</strong><br>{{color}}</p></td>
          <td><p><strong class="uppercase">Content</strong><br>{{contents}}</p></td>
          {{#repeat}}<td><p><strong class="uppercase">Repeat</strong><br>{{repeat}}</p></td>{{/repeat}} <!-- why is this still showing up even when empty? -->
          {{#width}}<td><p><strong class="uppercase">Approx Width</strong><br>{{width}}</p></td>{{/width}}
          {{#tradeprice}}<td><p><strong class="uppercase">Price</strong><br>{{tradeprice}}</p></td>{{/tradeprice}}
        </tr>
      </tbody>
    </table>
  </div>

  <div id="item-colors">
    {{#pager}}<div class="related-page-count"></div>{{/pager}}
    <button type="button" class="close plain"><i class="fa fa-times"></i></button>
    {{#pager}}
    <button class="left plain controls rel-previous">
      <i class="fa fa-angle-left fa-2x"></i>
    </button>
    {{/pager}}
    <ul class="list-inline">
      {{#itemcolors}}
      <li class="related-item">
        <a href="/collection.html#{{linkitem}}detailedview={{.}}" style="display:block;">
          <img src="https://img.rg.cape.io/items/{{.}}/1170.jpg">
        </a>
      </li>
      {{/itemcolors}}
    </ul>
    {{#pager}}
    <button class="right plain controls rel-next">
      <i class="fa fa-angle-right fa-2x"></i>
    </button>
    {{/pager}}
  </div>

</div>

<!-- did this work? -->
