<!-- Item information that is displayed when in 3-up mode and info button is clicked -->
<div class="item-spotlight text-center" style="width:100%;">
  <div class="item-icons pull-right hidden-xs">
    <button class="item-colors plain uppercase">
      Colors
    </button>
    <button class="item-favorite plain">
      <i class="fa fa-plus"></i>
    </button>
    <button class="item-details plain">
      <i class="fa fa-align-justify"></i>
    </button>
  </div>
  <div class="item-information {{^tradeprice}}no-price{{/tradeprice}} {{^repeat}}no-repeat{{/repeat}} {{^width}}no-width{{/width}}">
    <button class="item-toggle plain">&times;</button>
    <div class="outer">
      <div class="inner">
        <p class="name">
          <strong class="uppercase">{{label}}{{^label}}{{collection}}{{/label}}</strong><br/>
          <span class="name roman">{{name}}</span> <span class="item-num">{{id}}</span>
        </p>
        <p>
          <strong class="uppercase">Color</strong><br/>
          {{color}}
        </p>
        <p>
          <strong class="uppercase">Content</strong><br/>
          {{contents}}
        </p>
        {{#repeat}}
        <p>
          <strong class="uppercase">Repeat</strong><br/>
          {{repeat}}
        </p>
        {{/repeat}}
        {{#width}}
        <p>
          <strong class="uppercase">Approx Width</strong><br/>
          {{width}}
        </p>
        {{/width}}
        {{#tradeprice}}
        <p>
          <strong class="uppercase">Price</strong><br/>
          {{tradeprice}}
        </p>
        {{/tradeprice}}
      </div>
    </div>
  </div>

  <div id="item-colors">
    {{#pager}}<div class="related-page-count"></div>{{/pager}}
    <button type="button" class="close plain"><i class="fa fa-times"></i></button>
    {{#pager}}
    <button class="left plain controls rel-previous">
      <i class="fa fa-angle-left fa-2x"></i>
    </button>
    {{/pager}}
    <ul class="list-inline list">
    {{#itemcolors}}
    <li class="related-item">
      <a href="/collection.html#{{linkitem}}detailedview={{.}}" style="display:block;">
        <img src="http://img.rg.cape.io/items/{{.}}/640.jpg">
      </a>
    </li>
    {{/itemcolors}}
    </ul>
    {{#pager}}
    <button class="right plain controls rel-next">
      <i class="fa fa-angle-right fa-2x"></i>
    </button>
    {{/pager}}
  </div>

</div>
