@import url(variables.less);

/** some simple hiding and showing classes **/
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
    visibility: hidden !important;
  }
  .visible-sm {
    display: none !important;
    visibility: visible !important;
  }
  .visible-md {
    display: none !important;
    visibility: visible !important;
  }
  .visible-lg {
    display: none !important;
    visibility: visible !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
    visibility: hidden !important;
  }
  .visible-xs {
    display: none !important;
    visibility: visible !important;
  }
  .visible-md {
    display: none !important;
    visibility: visible !important;
  }
  .visible-lg {
    display: none !important;
    visibility: visible !important;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
    visibility: hidden !important;
  }
  .visible-xs {
    display: none !important;
    visibility: visible !important;
  }
  .visible-sm {
    display: none !important;
    visibility: visible !important;
  }
  .visible-lg {
    display: none !important;
    visibility: visible !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
    visibility: hidden !important;
  }
  .visible-xs {
    display: none !important;
    visibility: visible !important;
  }
  .visible-sm {
    display: none !important;
    visibility: visible !important;
  }
  .visible-md {
    display: none !important;
    visibility: visible !important;
  }
}

/** = basic stuff **/
/**********************************************************/
/**********************************************************/

* {
  font-family: 'adobe caslon', adobe-caslon-pro, cambria, 'times new roman', times, georgia, serif;
  font-size: 14px;
  box-sizing: border-box;
}

body {
  background: @rg-background;
  color: @rg-black;
  margin: 0;
  padding: 0;
  padding-top: 200px;
  padding-bottom: 60px;
  text-align: center;
}

button, a, map, map area, object, embed {
  /** non-accessibility friendly, but desired by client aesthetically **/
  outline: 0;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

button {
  text-transform: uppercase;
  letter-spacing: 2px;
  background: none;
  background-color: transparent;
  border: none;
  border-color: none;
  padding: 0;
  margin: 0;
}

button.active {
  color: @rg-dark-gold;
  font-weight: bold;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* These will apply everywhere unless they are overridden in one of the @media queries */
header {
  background: #fcfbf8;
  padding: 14px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  .dropshadow;
}

header nav {
  width: 160px;
  margin: 0 auto;
  padding-top: 0;
  min-height: 0%;
}

header nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  .text-center;
}

header nav > ul li {
  border-top: solid 1px #262019;
  display: list-item;
  list-style: none;
  padding: 4px 0 3px 0;
  font-weight: bold;
  .uppercase;
}

#content {
  width: auto;
  margin: 0 auto;
}

footer {
  margin-top: 100px;
}

footer p {
  margin: 1em 0;
}

footer p span {
  color: @rg-gray;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  #content { width: 750px; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  #content { width: 970px; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
  #content { width: 1170px; }
}


/** = reusable controls and graphics **/
/**********************************************************/
/**********************************************************/
/* pager */
ul.pager {
  border-top: 1px solid @rg-black;
  border-bottom: 1px solid @rg-black;
  list-style: none;
  height: 32px;
  line-height: 18px;
  margin: 12px 0;
  padding: 6px;
  position: relative;
}
ul.pager > li {
  display: inline-block;
}
ul.pager > li.previous > a,
ul.pager > li > a.left,
ul.pager > li.next > a,
ul.pager > li > a.right {
  background-size: 12px 12px;
  display: block;
  height: 12px;
  width: 12px;
  /** replace -9999px hack */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  .pointer;
}

/* previous/left arrow */
ul.pager > li.previous {
  position: absolute;
  left: 6px;
  top:9px;
}
ul.pager > li.previous > a,
ul.pager > li > a.left {
  background: #fcfbf8 url(@left-arrow) center center no-repeat;
}

/* next/right arrow */
ul.pager > li.next {
  position: absolute;
  right: 6px;
  top:9px;
}
ul.pager > li.next > a,
ul.pager > li > a.right {
  background: #fcfbf8 url(@right-arrow) center center no-repeat;
}

/* close [x] */


/* -------------------------------------*/
/* ---------->>> INCLUDES <<<-----------*/
/* -------------------------------------*/



<<<<<<< HEAD
=======
table tr th,
table tr td {
  padding: 3px 7px;
  line-height: 14px;
  vertical-align: top;
  border-collapse: collapse;
  border: 0;
  height: 14px;
}

table thead {
  text-transform: lowercase;
  color: @rg-gray;
  letter-spacing: 2px;
  font-size: 1em;
  font-variant: small-caps;
}

table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

/** Individual column widths to try and match PDF */
table .pattern th {
  padding-top: 16px;
}

.color,
.color th,
.color td {
  overflow: visible;
}

.c-number,
.c-price,
.c-size {
  text-align: right;
}

/* column widths — there might need to be classes on the <table> to go with specific states to change these up... just in case */
.c-name    { width: 17%; }
.c-number  { width: 10%; }
.c-color   { width: 11%; }
.c-price   { width: 10%; }
.c-content { width: 28%; }
.c-repeat  { width: 13%; }
.c-size    { width: 11%; }

/** Item Detail **/
.item-detail {
  background: @rg-background;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 99;
}

.itemoverlay-header {
  border: 10px solid @rg-background;
  border-left-width: 20px;
  border-right-width: 20px;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  .dropshadow;
}

.itemoverlay-header td.fav,
.itemoverlay-header td.close {
  padding: 2px 0 6px 0;
  width: 29px;
}

.itemoverlay-header .fav button,
.itemoverlay-header .close button {
  border: none;
  display: block;
  height: 29px;
  width: 29px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.itemoverlay-header .fav button {
  background: transparent url(@fav-btn) center center no-repeat;
}

.itemoverlay-header .close button {
  background: transparent url(@close-btn) center center no-repeat;
}

.itemoverlay-header h3,
.itemoverlay-header p {
  margin: 0;
  line-height: 16px;
}
.itemoverlay-header h3 {
  font-size: 12px;
  font-weight: bold;
  .uppercase;
}

.toggle-colors {
  position: fixed;
  top: 90px;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  padding: 6px 0 5px;
  .dropshadow;
}

.ruler-wrap {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  .dropshadow;
}

.ruler-wrap ul {
  list-style: none;
  margin: 0;
  padding: 10px 10px 10px 25px;
  position: relative;
  width: 150px;
}

.ruler-wrap .rulers {
  // position: absolute; causing issue with js app.
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.rulers img {
  display: block;
  position: relative;
  margin-left: 190px;
}
>>>>>>> 1fc169c2c25be86058e3aa7f2118165b377d4d54
