/* ------------------------------------------------------*/
/* ---------->>> detail.less - DETAIL VIEW <<<-----------*/
/* ------------------------------------------------------*/

/** Item Detail **/
/** general overlay styles, fill screen with image... **/
.item-detail {
  background: @rg-background url(@loading) center center no-repeat;
  background-size: 50px 50px;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 99;
}

.item-detail.passementerie {
  background-color: white;
}

// item-details header
.item-detail-header {
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  z-index: 101;
  .dropshadow;
}

.item-detail-header button.toggle {
  background: url(@reveal-menu) center center no-repeat;
  display: block;
  width: 100%;
  height: 25px;
  border: 1px solid transparent;
  border-radius: 0;
  text-align: center;
  .hide-text;
}

.item-detail-header li.fav,
.item-detail-header li.close {
  padding: 2px 0 6px 0;
  width: 29px;
}

.item-detail-header .fav button,
.item-detail-header .close button {
  border: none;
  display: block;
  height: 29px;
  width: 29px;
  position: absolute;
  top:14px;
  .hide-text;
}

.item-detail-header .fav button {
  background: transparent url(@add-fav) center center no-repeat;
  left: 20px;
}

.item-detail-header .fav button.remove-item {
  background: transparent url(@remove-fav) center center no-repeat;
  left: 20px;
}

.item-detail-header .close button {
  background: transparent url(@close-btn-lg) center center no-repeat;
  right: 20px;
}

.item-detail-header h3 {
  font-size: 12px;
  .uppercase;
}

.item-detail-content {
  margin: 14px 0;
}

.item-detail-content > ul {
  width: 300px;
  margin: 0 auto 28px;
}

.item-detail-content > ul > li {
  display: list-item;
  list-style: none;
  margin: 14px 0;
}

@media (min-width: @screen-md-min) {
  .item-detail-header .controls { height: 0; }
  .item-detail-content > ul {
    width: auto;
    margin: 0 20px;
  }
  .item-detail-content > ul.f-qty-4 {
    margin: 0 50px;
  }
  .item-detail-content > ul > li {
    display: inline-block;
    margin: 0;
    min-width: calc(100% / 6);
    max-width: 25%;
    vertical-align: middle;
  }

  /** some special leather stuff **/
  .item-detail.leather .item-detail-content > ul.f-qty-4 {
    width: auto;
    margin: 0 20px;
  }
  .item-detail.leather .item-detail-content > ul.f-qty-4 > li {
    display: inline-block;
    margin: 0;
    width: 12.5%;
    min-width: 0;
    max-width: none;
    vertical-align: middle;
  }
  .item-detail.leather .item-detail-content > ul.f-qty-4 > li.content {
    display: inline-block;
    margin: 0;
    width: 25%;
    vertical-align: middle;
  }
}

.item-detail .small img {
  min-height: 100%;
  min-height: 100vh;
  width: auto;
}

.item-detail .small img.rotate-trim {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -585px;
  height: auto;
  max-height: none;
  width: auto;
  max-width: none;
  min-height: 0;
  min-width: 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.item-detail .large img,
.item-detail .xlarge img {
  min-width: 100%;
  min-width: 100vw;
  height: auto;
}

.item-detail.passementerie .large img,
.item-detail.passementerie .xlarge img {
  position: absolute;
  top:50%;
  left: 0;
  z-index: 100;
}

.item-detail .large img.pattern,
.item-detail .xlarge img.pattern {
  min-height: 0;
  min-width: 0;
  max-width: 100%;
  max-width: 100vw;
  max-height: 100%;
  max-height: 100vh;
}


/** styling for colors button and colors popup on detail **/
[class*="toggle-"] {
  position: fixed;
  top: 90px;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  .dropshadow;
}

.toggle-far,
.toggle-notes.with-colors,
.toggle-notes {
  left: 50%;
  width: 150px;
  margin-left: 7px;
}

.toggle-colors.with-far,
.toggle-colors.with-notes {
  left: initial;
  right: 50%;
  margin-left: 0;
  margin-right: 7px;
  width: 150px;
}

[class*="toggle-"] > button {
  width: 100%;
  color: @rg-gray;
  font-size: 12px;
  font-weight: 700;
  padding: 6px 0 2px;
  display: inline-block;
  vertical-align: bottom;
}

/** this is replicated in collection.less — how to combine? **/
.toggle-notes > button:hover,
.toggle-notes > button.active,
.toggle-colors > button:hover,
.toggle-colors > button.active {
  background: @rg-gold;
  color: @rg-background;
}

.toggle-notes > button:active,
.toggle-colors > button:active {
  background: @rg-dark-gold;
  color: @rg-background;
}
/** /end - this is replicated in collection.less — how to combine? **/

#item-notes,
#related-colors {
  position: fixed;
  left: 50%;
  .dropshadow;
}

#item-notes {
  top: 132px;
  width: 444px;
  margin-left: -222px;
  padding: 30px;
}

#related-colors {
  margin: 0;
  padding: 15px;
  height: 120px;
  top: 132px;
}

#related-colors ul.list-inline        { margin: 15px auto; }
#related-colors.pager ul.list-inline  { margin: 0 auto; }

#related-colors.size-1 {
  width: 110px;
  margin-left: -55px;
}
#related-colors.size-2 {
  width: 200px;
  margin-left: -100px;
}
#related-colors.size-3 {
  width: 290px;
  margin-left: -145px;
}
#related-colors.size-4 {
  width: 380px;
  margin-left: -190px;
}
#related-colors.size-5 {
  width: 470px;
  margin-left: -235px;
}

#related-colors.size-1.pager {
  width: 160px;
  margin-left: -80px;
}
#related-colors.size-2.pager {
  width: 250px;
  margin-left: -125px;
}
#related-colors.size-3.pager {
  width: 340px;
  margin-left: -170px;
}
#related-colors.size-4.pager {
  width: 430px;
  margin-left: -215px;
}
#related-colors.size-5.pager {
  width: 520px;
  margin-left: -260px;
}

.colors-header {
  position: relative;
  top: -6px;
}

li.related-item {
  width: 80px;
  list-style: none;
  margin: 10px 5px 0;
  padding: 0;
  display: inline-block;
  height: 65px;
  overflow: hidden;
}

li.related-item img {
  max-width: 100%;
  height: auto;
}

#related-colors .list-inline {
  text-align: center;
}

#related-colors .list-inline li:first-child {
  margin-left: 0;
}

#related-colors .list-inline li:last-child {
  margin-right: 0;
}


/** </> buttons **/
#related-colors button.left,
#related-colors button.right {
  background-size: 12px 12px;
  display: block;
  height: 12px;
  width: 12px;
  padding: 0;
  .hide-text;
  .pointer;
  position: absolute;
  top: 58%;
}

#related-colors button.left {
  background: #fcfbf8 url(@left-arrow) center center no-repeat;
  left: 12px;
}

#related-colors button.right {
  background: #fcfbf8 url(@right-arrow) center center no-repeat;
  right: 12px;
}

/** colors popup close button **/
#related-colors button.close {
  position: absolute;
}

#related-colors .colors-header button.close {
  top:1px;
  right: -2px;
}

#item-notes .close {
  position: absolute;
  right: 11px;
  top: 11px;
}

/** Styling for ruler footer on detail **/
.ruler-wrap {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  padding-bottom: 1em;
  .dropshadow;
}

.ruler-wrap .ruler-toggle {
  list-style: none;
  margin: 0;
  padding: 10px 10px 10px 25px;
  position: relative;
  width: 150px;
  z-index: 100;
}

.ruler-wrap .rulers {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-left: 190px;
  box-sizing: border-box;
  z-index: 99;
}

.rulers img {
  display: block;
  position: relative;
}

/** final little fixes to the header **/
li.name p span {
  display: inline-block;
  margin: 0 5px;
}

/* ============================ /DETAIL ============================ */
