/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/

.landing > header {
  .dropshadow;
  position: absolute;
  top:0;
  left:0;
  right:0;
  overflow: auto;
  min-height: 0%;
  padding-bottom: 0;
}

.landing > header ul {
  padding-bottom: 12px;
}

/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/

#landing #fixit-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 0%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width:100%;
  text-align: center;
}

#landing img {
  display: inline-block;
  vertical-align: middle;
  height: auto;
  max-height: none;
  width: 100%;
  max-width: 100%;
  text-align: center;
}

#landing ul.image-map {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100vw;
}

#landing ul.image-map li {
  position: relative;
  width: 20vw;
  float: left;
  height: 100vw;
  list-style: none;
  margin: 0;
  padding: 0;
}

#landing ul.image-map li .popover {
  display: none;
  position: absolute;
  top: 70vh;
  left:50%;
  .dropshadow;
  padding: 10px 10px 6px;
  text-align: center;
  width:150px;
  margin-left: -75px;
}

.popover h3 {
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

.popover p {
  color: @rg-gray;
}

#landing ul.image-map li .popover,
#landing ul.image-map li:hover .popover,
#landing ul.image-map li a {
  display: none;
}

#landing ol.slide-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 20px;
  left: 50%;
  z-index: 9;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}

#landing ol.slide-indicators li {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 0 2px;
  list-style-type: none;
  vertical-align: middle;
}

#landing ol.slide-indicators li:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

#landing ol.slide-indicators li button {
  display: inline-block;
  background-color: @rg-background;
  border: 4px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  height: 4px;
  width: 4px;
  margin: 0;
  vertical-align: middle;
  .hide-text;
  -webkit-transition: height 400ms ease, width 400ms ease;
  -moz-transition: height 400ms ease, width 400ms ease;
  -ms-transition: height 400ms ease, width 400ms ease;
  -o-transition: height 400ms ease, width 400ms ease;
  transition: height 400ms ease, width 400ms ease;
}

#landing ol.slide-indicators li.active button {
  border: none !important;
  background-color: #fcfbf8 !important;
  margin: 0;
  width: 16px;
  height: 16px;
}

#landing .control {
  background: @rg-background center center no-repeat;
  display: block;
  width: 30px;
  height:40px;
  position: fixed;
  bottom: 0;
  cursor: pointer;
  .hide-text;
}

#landing .control.left {
  left: 0;
  background-image: url(@left-arrow);
  background-size: 12px 12px;
}

#landing .control.right {
  right: 0;
  background-image: url(@right-arrow);
  background-size: 12px 12px;
}

@media (min-width: @screen-sm-min) {
  .landing > header {
    height: 145px;
    overflow: hidden;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    padding-bottom: 7px;
  }

  .landing > header.open {
    height: 300px;
  }

  .landing > header.open.authenticated {
    height: 325px;
  }

  #landing ul.image-map li:hover .popover {
    display: block;
  }

  #landing ul.image-map li a {
    display: block;
    height: 100vh;
    width: 100%;
    .hide-text;
  }

}

@media (min-width: 800px) {
  .landing > header .toggle {
    cursor: default;
  }
}

@media (max-width: 840px) and (min-height: 840px),
       (orientation: portrait) {
  #landing #fixit-wrap > .slide span img {
    height: 100%;
    max-height: 100%;
    width: auto;
    max-width: none;
    text-align: center;
  }

  #landing #fixit-wrap,
  #landing ul.image-map {
    top: 0;
  }

  #landing ul.image-map li .popover,
  #landing ul.image-map li:hover .popover,
  #landing ul.image-map li a {
    display: none;
  }
}

@media (max-width: 767px) and (orientation: portrait) {
  #landing #fixit-wrap > .slide {
    width:100%;
    overflow: hidden;
    text-align: center;
  }
  #landing #fixit-wrap > .slide span img {
    height: 100%;
    max-height: 100%;
    width: auto;
    max-width: none;
    text-align: center;
  }
  ul.image-map {display: none;z-index: -1;}
}

@media (max-width: 767px) {
  ul.image-map {display: none;z-index: -1;}
  #landing ol.slide-indicators,
  #landing .control {
    display: none;
  }
}

@media (orientation: portrait) and (min-width: @screen-sm-min) {
  #landing .control {
    width: 40px;
    height:60px;
  }
}

/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/

#landing .slide {
  position: relative;
  width: 100%;
  height: 100%;
}

/** slide left **/
.carousel-left-enter {
  position: absolute;
  left:0;
  margin-left:100%;
  -webkit-transition: margin-left 500ms ease-in;
  -moz-transition: margin-left 500ms ease-in;
  -ms-transition: margin-left 500ms ease-in;
  -o-transition: margin-left 500ms ease-in;
  transition: margin-left 500ms ease-in;
}
.carousel-left-enter.carousel-left-enter-active {
  margin-left:0;
}

.carousel-left-leave {
  position: absolute;
  left:0;
  margin-left:0;
  -webkit-transition: margin-left 500ms ease-in;
  -moz-transition: margin-left 500ms ease-in;
  -ms-transition: margin-left 500ms ease-in;
  -o-transition: margin-left 500ms ease-in;
  transition: margin-left 500ms ease-in;
}
.carousel-left-leave.carousel-left-leave-active {
  margin-left: -100%;
}

/** slide right **/
.carousel-right-enter {
  position: absolute;
  right:0;
  margin-right:100%;
  -webkit-transition: margin-right 500ms ease-in;
  -moz-transition: margin-right 500ms ease-in;
  -ms-transition: margin-right 500ms ease-in;
  -o-transition: margin-right 500ms ease-in;
  transition: margin-right 500ms ease-in;
}
.carousel-right-enter.carousel-right-enter-active {
  margin-right:0;
}

.carousel-right-leave {
  position: absolute;
  right:0;
  margin-right:0;
  -webkit-transition: margin-right 500ms ease-in;
  -moz-transition: margin-right 500ms ease-in;
  -ms-transition: margin-right 500ms ease-in;
  -o-transition: margin-right 500ms ease-in;
  transition: margin-right 500ms ease-in;
}
.carousel-right-leave.carousel-right-leave-active {
  margin-right: -100%;
}

/* special landing page popup anouncement */
#notice-box.sorry-world {
  background: @rg-background;
  background: rgba(252,251,248,.9);
  color: @rg-black;
  margin: 0;
  padding: 0;
  text-align: center;
  position: fixed;
  top:   0;
  right: 0;
  bottom:0;
  left:  0;
  z-index: 99999999;
}

#notice-box.sorry-world img {
  margin-top: 30px;
  .dropshadow;
  width: auto;
  height: 85%;
  max-height: 1000px;
}

#notice-box.sorry-world .close {
  background: transparent url(@close-btn-lg) center center no-repeat;
  border: none;
  display: block;
  height: 29px;
  width: 29px;
  position: absolute;
  top:29px;
  right: 29px;
  .hide-text;
}
