@import url(variables.less);

/* --------------------------------------*/
/* ---------->>> PRICELIST <<<-----------*/
/* --------------------------------------*/

#content {
  border-bottom: 1px solid @rg-black;
}

#content form input {
  width: 300px;
  margin-bottom: 14px;
}

#content form > div {
  margin-top: 20px;
}

#content form button {
  width: 100%;
  display: block;
  .pointer;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  #content form button {
    width: 32.9%;
    display: inline-block;
  }
}

/** pricelist header / pager **/
.pricelist-header {
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 0;
  text-align: left;
  min-width: 750px;
  margin-bottom: 20px;
}

table tr th,
table tr td {
  padding: 3px 7px;
  line-height: 14px;
  vertical-align: top;
  border-collapse: collapse;
  border: 0;
  height: 14px;
}

table thead {
  text-transform: lowercase;
  color: @rg-gray;
  letter-spacing: 2px;
  font-size: 1em;
  font-variant: small-caps;
}

table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

/* add some more padding to the tops of "pattern" headers **/
table .pattern th {
  padding-top: 16px;
}

/** Individual column widths to try and match PDF */
.color,
.color th,
.color td {
  overflow: visible;
}

.c-number,
.c-price,
.c-size {
  text-align: right;
}

/* column widths — there might need to be classes on the <table> to go with specific states to change these up... just in case */
/* textile table column widths */
.textile > table .c-name    { width: 17%; }
.textile > table .c-number  { width: 10%; }
.textile > table .c-color   { width: 11%; }
.textile > table .c-price   { width: 10%; }
.textile > table .c-content { width: 28%; }
.textile > table .c-repeat  { width: 13%; }
.textile > table .c-size    { width: 11%; }

/* passementerie table column widths */
.passementerie > table .c-number  { width: 25%; }
.passementerie > table .c-color   { width: 12%; }
.passementerie > table .c-price   { width: 12%; }
.passementerie > table .c-content { width: 25%; }
.passementerie > table .c-repeat  { width: 12%; }
.passementerie > table .c-size    { width: 12%; }

/* leather table column widths */
.leather > table .c-name    { width: 10%; }
.leather > table .c-number  { width: 10%; }
.leather > table .c-color   { width: 15%; }
.leather > table .c-price   { width: 10%; }
.leather > table .c-content { width: 33%; }
.leather > table .c-size    { width: 32%; text-align: left; }

/* style links to details */
tr.pattern a,
tr.color a {
  .link3;
}

/* ============================ /Pricelist ============================ */
