@import url(variables.less);

/** some simple hiding and showing classes **/
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
    visibility: hidden !important;
  }
  .visible-sm {
    display: none !important;
    visibility: visible !important;
  }
  .visible-md {
    display: none !important;
    visibility: visible !important;
  }
  .visible-lg {
    display: none !important;
    visibility: visible !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
    visibility: hidden !important;
  }
  .visible-xs {
    display: none !important;
    visibility: visible !important;
  }
  .visible-md {
    display: none !important;
    visibility: visible !important;
  }
  .visible-lg {
    display: none !important;
    visibility: visible !important;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
    visibility: hidden !important;
  }
  .visible-xs {
    display: none !important;
    visibility: visible !important;
  }
  .visible-sm {
    display: none !important;
    visibility: visible !important;
  }
  .visible-lg {
    display: none !important;
    visibility: visible !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
    visibility: hidden !important;
  }
  .visible-xs {
    display: none !important;
    visibility: visible !important;
  }
  .visible-sm {
    display: none !important;
    visibility: visible !important;
  }
  .visible-md {
    display: none !important;
    visibility: visible !important;
  }
}

/** = basic stuff **/
/**********************************************************/
/**********************************************************/

* {
  font-family: 'adobe caslon', adobe-caslon-pro, cambria, 'times new roman', times, georgia, serif;
  box-sizing: border-box;
}

html { font-size: 14px; }

body {
  background: @rg-background;
  color: @rg-black;
  font-size: 1em;
  margin: 0;
  padding: 0;
  padding-top: 300px;
  padding-bottom: 60px;
  text-align: center;
}

html, body { height: 100%; width: 100%; }

table { font-size: 1em; }

button, a, map, map area, object, embed {
  /** non-accessibility friendly, but desired by client aesthetically **/
  outline: 0;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

button {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .93em;
  background: none;
  background-color: transparent;
  border: none;
  border-color: none;
  padding: 0;
  margin: 0;
  .pointer;
}

.active button,
button.active {
  font-weight: bold;
}

button.active {
  color: @rg-dark-gold;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* These will apply everywhere unless they are overridden in one of the @media queries */
header {
  background: #fcfbf8;
  padding: 14px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.landing header {
  .dropshadow;
}

header h1 {
  width: 350px;
  height: 60px;
  margin: 20px auto 30px;
  .dropshadow-light;
  transition: all 300ms ease;

  &:hover {
    .dropshadow;
  }
}

header h1 a {
  display: block;
  background: url('images/rglogo.png') center center no-repeat;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 60px;
  margin: 0;
  padding: 0;
}


header nav {
  width: 160px;
  margin: 0 auto;
  padding-top: 0;
  min-height: 0%;
}

header nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  .text-center;
}

header nav > ul > li {
  border-top: solid 1px #262019;
  display: list-item;
  list-style: none;
  padding: 0;
}

header nav > ul > li > a {
  color: @rg-black;
  display: block;
  padding: 7px 0;
  font-size: .875em;
  font-weight: bold;
  text-decoration: none;
  .uppercase;
}

header nav > ul > li > a:hover {
  color: @rg-gray;
}

header nav > ul > li.active > a,
header nav > ul > li > a.active {
  color: @rg-gold;
}

#content {
  width: auto;
  margin: 0 auto;
}

#content > div { border-bottom: 1px solid @rg-black; }

#content .loading {
  height: 50px;
  width: 50px;
}

footer {
  margin-top: 80px;
}

footer p {
  margin: 1em 0;
}

footer p span {
  color: @rg-gray;
  letter-spacing: 1px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  #content { width: 750px; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  #content { width: 970px; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
  #content { width: 1170px; }
}

.text-area {
  max-width: 720px;
  margin: 30px auto;
  padding: 0;
}

/** = reusable controls and graphics **/
/**********************************************************/
/**********************************************************/
/* pager */
ul.pager {
  border-top: 1px solid @rg-black;
  border-bottom: 1px solid @rg-black;
  list-style: none;
  height: 36px;
  line-height: 20px;
  padding: 8px 6px;
  position: relative;
}

ul.collection-controls li,
ul.pager > li {
  display: inline-block;
}

ul.collection-controls > li.previous:hover,
ul.collection-controls > li.next:hover,
ul.pager > li.previous:hover,
ul.pager > li.next:hover {
  opacity: .5;
}

ul.collection-controls > li.disabled,
ul.collection-controls > li.disabled:hover,
ul.pager > li.disabled,
ul.pager > li.disabled:hover {
  opacity: .22;
}

ul.collection-controls > li.disabled,
ul.collection-controls > li.disabled a,
ul.collection-controls > li.disabled a:hover,
ul.collection-controls > li.disabled:hover a,
ul.collection-controls > li.disabled button,
ul.collection-controls > li.disabled button:hover,
ul.collection-controls > li.disabled:hover button,
ul.pager > li.disabled,
ul.pager > li.disabled a,
ul.pager > li.disabled a:hover,
ul.pager > li.disabled:hover a {
  cursor: not-allowed !important;
}

ul.collection-controls > li.previous > button,
ul.collection-controls > li.previous > button.left,
ul.collection-controls > li.next > button,
ul.collection-controls > li.next > button.right,
ul.pager > li.previous > a,
ul.pager > li > a.left,
ul.pager > li.next > a,
ul.pager > li > a.right {
  background-size: 12px 12px;
  display: block;
  height: 12px;
  width: 12px;
  /** replace -9999px hack */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  .pointer;
}

ul.collection-controls > li.previous,
ul.collection-controls > li.next,
ul.pager > li.previous,
ul.pager > li.next {
  position: absolute;
}

ul.collection-controls > li.previous,
ul.collection-controls > li.next {
  top:5px;
}
ul.pager > li.previous,
ul.pager > li.next {
  top:11px;
}

/* previous/left arrow */
ul.collection-controls > li.previous,
ul.pager > li.previous {
  left: 6px;
}
ul.collection-controls > li.previous > button,
ul.collection-controls > li > button.left,
ul.pager > li.previous > a,
ul.pager > li > a.left {
  background: #fcfbf8 url(@left-arrow) center center no-repeat;
}

/* next/right arrow */
ul.collection-controls > li.next,
ul.pager > li.next {
  right: 6px;
}
ul.collection-controls > li.next > button,
ul.collection-controls > li > button.right,
ul.pager > li.next > a,
ul.pager > li > a.right {
  background: #fcfbf8 url(@right-arrow) center center no-repeat;
}

/* close [x] */

