/* -----------------------------------*/
/* ---------->>> SEARCH <<<-----------*/
/* -----------------------------------*/

.search { margin-bottom: 20px; }

/** 4 column styles (search and favorites and projects ) **/
/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  .search ul.list > li,
  .search ul.list > li,
  .search ul.list > li {
    width: 25% !important;
  }
}

.no-results p {
  margin-top: 40px;
}

.search-title h3 {
  .uppercase;
  font-size: 18px;
  font-weight: normal;
}