
.cream {
  color: @rg-background;
}
.bg-cream {
  background-color: @rg-background;
}

.mb0p5 { margin-bottom: .5rem; }
.mb1   { margin-bottom: 1rem; }
.p1    { padding: 1rem; }
.p1p5  { padding: 1.5rem; }

.mw300 { max-width: 300px; }
.mw400 { max-width: 400px; }
.mw500 { max-width: 500px; }
.mw600 { max-width: 600px; }

.mw30em { max-width: 30rem; }

.mlrauto {
  margin-left: auto;
  margin-right: auto;
}

.clear { clear: both; }

#notice-box {
  .blanket {
    display: block;
    width: 75%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 10%;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,.44);
    border: 1px solid black;
    padding-left: 3em;
    padding-right: 3em;

    a {
      text-decoration: none;
      color: inherit;
    }

    .block {
      float: left;
      position: relative;
      width: 33.33333333%;
      &::after {
        padding-top: 100%;
        display: block;
        content: '';
      }
      .caption {
        display: none;
        position: absolute;
        padding: .75em .5em .5em;
        left: 1em;
        right: 1em;
        top:50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
        box-shadow: 0 0 1rem 0 rgba(0,0,0,.44);
        background-color: @rg-background;

        .name {
          text-transform: uppercase;
          font-size: .85em;
          letter-spacing: .1em;
        }

        .color {
          color: @rg-gray;
        }

      }
      &:hover {
        .caption {
          display: block;
        }
      }
    }
    .textReplace {
      text-indent: 111%;
      overflow: hidden;
      white-space: nowrap;
    }
    .customType {
      background-image: url('media/2017-02-13-SummerSaleGrid.jpg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-left: -2em;
      margin-right: -2em;
      padding: 4em;
    }
  }
}

#notice-box.sorry-world::before {
  content: '';
  display: none;
  height: 0%;
  vertical-align: middle;
  margin-right: 0;
}

#notice-box.sorry-world .block img {
  border: none;
  background: #fcfbf8;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  width: 100%;
  height: auto;
  margin: 0;
  max-height: none;
  max-width: none;
  display: block;
  position: absolute;
}

.blanket h1 {
  box-sizing: border-box;
  display: block;
  background: url(images/rglogo.png) center center no-repeat;
  background-size: contain;
  height: 45px;
  margin: .5em auto;
  padding: 3px;
  max-width: 275px;
  border: 1px solid black;
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: @screen-sm-max) {
  #notice-box {
    .blanket {
      .customType {
        padding: 2em;
      }
    }
  }
}

@media (max-width: 600px) {
  #notice-box {
    .blanket {
      .customType {
        padding: 1em;
      }
      h1 {
        height: 40px
      }
    }
  }
}

@media (max-width: 500px) {
  #notice-box {
    .blanket {
      .customType {
        padding: 0;
      }
      h1 {
        height: 35px
      }
    }
  }
}
