
.cream {
  color: @rg-background;
}
.bg-cream {
  background-color: @rg-background;
}

.mb0p5 { margin-bottom: .5rem; }
.p1 { padding: 1rem; }

.clear { clear: both; }

#notice-box {
  .blanket {
    display: block;
    width: 75%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 10%;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,.44);
    border: 2px solid black;

    .block {
      float: left;
      position: relative;
      width: 33.33333333%;
      &::after {
        padding-top: 100%;
        display: block;
        content: '';
      }
      .caption {
        display: none;
        position: absolute;
        padding: .5em;
        left: .6rem;
        right: .6rem;
        bottom: .6rem;
        box-shadow: 0 0 1rem 0 rgba(0,0,0,.44);
        background-color: @rg-background;
      }
      &:hover {
        .caption {
          display: block;
        }
      }
    }
  }
}

#notice-box.sorry-world::before {
  content: '';
  display: none;
  height: 0%;
  vertical-align: middle;
  margin-right: 0;
}

#notice-box.sorry-world .block img {
  border: none;
  background: #fcfbf8;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  width: 100%;
  height: auto;
  margin: 0;
  max-height: none;
  max-width: none;
  display: block;
  position: absolute;
}
