
/** = Variables **/
/**********************************************************/
/**********************************************************/

/** Colors **/
@rg-background:          #fcfbf8;
@rg-dark-gold:           #725a38;
@rg-gold:                #9a8669;
@rg-gray:                #848484;
@rg-medium-gray:         #4D4D4D;
@rg-black:               #262019;

@screen-sm-min:           768px;
@screen-md-min:           992px;
@screen-lg-min:          1200px;

/** = basic stuff **/
/**********************************************************/
/**********************************************************/

body {
  background: @rg-background;
  text-align: center;
  font-family: 'adobe caslon', adobe-caslon-pro, cambria, 'times new roman', times, georgia, serif;
  transition: all 300ms;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
#content {
  width: auto;
  margin: 0 auto;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  #content { width: 750px; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  #content { width: 970px; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
  #content { width: 1170px; }
}

/** = pricelist stuff **/
/**********************************************************/
/**********************************************************/

table {
  width: 100%;
  border-collapse: collapse;
  border: 0;
  text-align: left;
}

table tr th, 
table tr td {
  padding: 4px;
  line-height: 1.42857143;
  vertical-align: top;
  border-collapse: collapse;
  border: 0;
}

table thead {
  text-transform: lowercase;
  color: @rg-gray;
  letter-spacing: 2px;
  font-size: 1em;
  font-variant: small-caps;
}
table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}