/* ---------------------------------------------------------------------------------------------------*/
/* ---------->>> trade.less - Trade login and a few other Trade Account Related styles! <<<-----------*/
/* ---------------------------------------------------------------------------------------------------*/

.trade-login {
  max-width: 720px;
  margin: 0 auto;
  margin-top: 40px;
}

.trade-login a {
  .link4;
}

.trade-login p {
  margin-bottom: 1em;
}

.trade-login form {
  .clearfix;
  margin-top: 40px;
}

.trade-login form label {
  display: none;
}

.trade-login form div.form-group {
  box-sizing: border-box;
  width: 50%;
  margin: 0;
  padding: 0 10px;
  float: left;
}

.trade-login form div.form-group input {
  width: 100%;
  padding: .4em;
  font-size: 1.1em;
  font-weight: normal;
  background: transparent;
  color: @rg-gray;
  border: 1px solid @rg-gray;
  border-radius: 0;
}

.trade-login form button.btn-default {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 0;
  border: 1px solid @rg-light-gray;
  white-space: nowrap;
  padding: 8px 12px 6px;
  border-radius: 0;
  .uppercase;
}

.trade-login form button.btn-default:hover {
  border-color: @rg-black;
}

.trade-login form input:active,
.trade-login form input:focus {
  border-color: @rg-dark-gold;
  outline: 0;
  -webkit-box-shadow: 0 0 6px rgba(114, 90, 56, 0.6);
  box-shadow: 0 0 6px rgba(114, 90, 56, 0.6);
}

/******* = Account Page Styles *******/

.account-information {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 2em 0;
}

.account-item {
  padding-bottom: 2em;
}

.account-item:last-child {
  padding-bottom: 0;
}

.account-item h3 {
  color: @rg-dark-gold;
  font-weight: normal;
  font-size: 13px;
  letter-spacing: 2px;
  margin-bottom: .5em;
}

/******* = Projects Page Styles *******/

.trade-projects,
.trade-projects .existing-projects {
  padding-top: 30px;
}

.trade-projects .existing-projects {
  border-bottom: 1px solid @rg-black;
  min-height: 70px;
}

.trade-projects .project {
  border-top: 1px solid @rg-black;
  padding: 10px 0;
  position: relative;
}

.trade-projects .project .list-name {
  .uppercase;
  font-size: 18px;
  font-weight: normal;
}

.trade-projects .project .list-edit {
  position: absolute;
  right: 0;
}

.trade-projects .project .list-edit button {
  background: transparent url(@close-btn-sm) center center no-repeat;
  background-size: 11px 11px;
  height: 11px;
  width: 11px;
  .hide-text;
}