/* ---------------------------------------------------------------------------------------------------*/
/* ---------->>> trade.less - Trade login and a few other Trade Account Related styles! <<<-----------*/
/* ---------------------------------------------------------------------------------------------------*/

.trade-login {
  max-width: 720px;
  margin: 0 auto;
  margin-top: 40px;
}

.trade-login a {
  .link4;
}

.trade-login p {
  margin-bottom: 1em;
}

.trade-login form {
  .clearfix;
  margin-top: 40px;
}

.trade-login form label {
  display: none;
}

.trade-login form div.form-group {
  box-sizing: border-box;
  width: 50%;
  margin: 0;
  padding: 0 10px;
  float: left;
}

.trade-login form div.form-group input {
  width: 100%;
  padding: .4em;
  font-size: 1.1em;
  font-weight: normal;
  background: transparent;
  color: @rg-gray;
  border: 1px solid @rg-gray;
  border-radius: 0;
}

.trade-login form button.btn-default {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 0;
  border: 1px solid @rg-light-gray;
  white-space: nowrap;
  padding: 8px 12px 6px;
  border-radius: 0;
  .uppercase;
}

.trade-login form button.btn-default:hover {
  border-color: @rg-black;
}


.trade-login form input:active,
.trade-login form input:focus {
  border-color: @rg-dark-gold;
  outline: 0;
  -webkit-box-shadow: 0 0 6px rgba(114, 90, 56, 0.6);
  box-shadow: 0 0 6px rgba(114, 90, 56, 0.6);
}